@model DrugData.Models.ViewModels.EditDoctorViewModel

<form asp-action="Update" asp-route-id="@Model.Doctor.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <h2>Uredi</h2>
    <div class="form-group">
        <label asp-for="Doctor.Name">Ime</label>
        <input type="text" id="da" class="form-control" asp-for="Doctor.Name">
    </div>
    <div class="form-group">
        <label asp-for="Doctor.Surname">Prezime</label>
        <input type="text" id="da" class="form-control" asp-for="Doctor.Surname">
    </div>
    <div class="form-group">
        <label asp-for="Doctor.Email">E-Mail adresa</label>
        <input type="text" id="da" class="form-control" asp-for="Doctor.Email">
    </div>
    <div class="form-group">
        <label asp-for="Doctor.ImagePath">Slika</label>
        <input asp-for="Doctor.ImagePath" id="da" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Doctor.Address">Adresa</label>
        <input asp-for="Doctor.Address" id="da" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CityId">Grad</label>
        <select asp-for="CityId" asp-items="@(new SelectList((IEnumerable<City>) @ViewData["Cities"],"CityId", "CityPbr"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <b>Hrvatska</b>
    </div>

    <div class="form-group">
        <label asp-for="Doctor.Biography">Kratka biografija  </label>
        <textarea asp-for="Doctor.Biography" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Doctor.Education">Obrazovanje </label>
        <input type="text" id="da" class="form-control" asp-for="Doctor.Education">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>

</form>

<style>
    #da {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 35px display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>