@model DrugData.Models.ViewModels.EditManufacturerViewModel

<form asp-action="Update" asp-route-id="@Model.Manufacturer.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (@ViewData["Success"] != null)
    {
        <div class="alert alert-success">Proizvođač spremljen</div>
    }
    <h2>Uredi</h2>
    <div class="form-group">
        <label asp-for="Manufacturer.ManufacturerName">Naziv </label>
        <input asp-for="Manufacturer.ManufacturerName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Manufacturer.About">O proizvođaču </label>
        <textarea asp-for="Manufacturer.About" class="form-control"></textarea>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>

</form>
