<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <!--<link href="~/Search.css" rel="stylesheet" />-->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Ljekarna Sanitas</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Ljekarna Sanitas</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @await Component.InvokeAsync("CategoryMenu")
                    @await Component.InvokeAsync("ManufacturerMenu")




                </ul>
                @await Html.PartialAsync("_LoginPartial")
                @await Component.InvokeAsync("CartSummary")
                <form class="navbar-form navbar-right" asp-controller="Search" asp-action="SearchAction" method="get">
                    <div class="custom-search-input">
                        <input class="form-control" name="SearchString" type="text" placeholder="Pretraži" aria-label="Search">
                    </div>
                    <div class="custom-search-button">
                        <button class="btn btn-outline-light" type="submit">Pretraži</button>
                    </div>
                </form>

            </div>

            <div class="navbar-collapse collapse">

                </ul>

                <div class="collapse navbar-collapse justify-content-between" id="supNavbar">
                    <!--<form class="form-inline custom-search" asp-controller="Search" asp-action="SearchAction">
            <div class="custom-search-input">
                <input class="form-control" name="SearchString" type="text" placeholder="Pretraži" aria-label="Search">
            </div>
            <div class="custom-search-button">
                <button class="btn btn-outline-light" type="submit">Pretraži</button>
            </div>
        </form>-->
                    <!--PROVJERI JEL PRIKAZE-->
                </div>
            </div>
            <!--<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </div>-->
        </div>
    </nav>
    <div class="container body-content">
        <div>
            <div id="tempmessage" class="alert"></div>
            @if (TempData[Constants.Message] != null)
            {
                bool error = false;
                var obj = TempData[Constants.ErrorOccurred];
                if (obj != null)
                {
                    error = (bool)obj;
                }
                <div class="alert @(error ? "alert-danger" : "alert-success")">@TempData[Constants.Message]</div>
            }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Sanitas</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
