@model Disease

<div class="text-center">
        <h1>
            @Model.DiseaseName.ToString()
        </h1>
</div>
<h2>     Međunarodna klasifikacija bolesti: @Model.ICD</h2>
<h4> </h4>

<div class="text-center">
    <a asp-action="Index" class="btn btn-primary">OK</a>
</div>
