@model User

<div class="text-center">
    <h1>
        @Model.FullName.ToString()
    </h1>
</div>
<h2>Član od: @Model.UserDate</h2>
<h2>Adresa: @Model.Address @Model.City.CityName @Model.City.Country.CountryName</h2>


<div class="text-center">
    <a asp-action="Index" class="btn btn-primary">OK</a>
</div>
