@model User
<h1>@Model.Name @Model.Surname</h1>
<p class="text-muted">Registirao se @Model.UserDate.ToString("dd. MM. yyyy.")</p>

<h1>@Model.Email</h1>
<h1>@Model.City.CityName-@Model.City.Country.CountryName</h1>

