@model DrugData.Models.ViewModels.EditCommentViewModel

<form asp-action="UpdateComment" asp-route-id1="@Model.Comment.CommentId" asp-route-id2="@Model.Drug.DrugId" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (@ViewData["Success"] != null)
    {
        <div class="alert alert-success">Komentar spremljen</div>
    }
    <h2>Uredi</h2>

    <div class="form-group">
        <label asp-for="Comment.Content">Sadržaj</label>
        <input asp-for="Comment.Content" class="form-control" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>

</form>
